body{
  background-color: darkturquoise;
  
}

h1{
    display: inline-block;
    background-color: darkturquoise;
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

a{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    width: 60;
    transition: background-color 0.3s;
  
}

.yt{
    display: inline-block;
    background-color:  darkred;
    color: #fff;
    box-shadow: 0 0 3px 3px red;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 10px;
    transition: background-color 0.3s;
  
}

.wa{
    box-shadow: 0 0 3px 3px darkgreen;
    display: inline-block;
    background-color: green;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 10px;
    transition: background-color 0.3s;
  
}

.tt{
    box-shadow: 0 0 3px 3px white;
    display: inline-block;
    background-color: black;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 10px;
    transition: background-color 0.3s;
  
}

.halo69{
    box-shadow: 0 0 3px 3px darkblue;
    display: inline-block;
    background-color: blue;
    box-shadow: cyan;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 10px;
    transition: background-color 0.3s;
  
}

.singa189{
    display: inline-block;
    background-color: gold;
    box-shadow: 0 0 3px 3px yellow;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 10px;
    transition: background-color 0.3s;
  
}

.predik{
    display: inline-block;
    background-color: blueviolet;
    box-shadow: 0 0 3px 3px purple;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 10px;
    transition: background-color 0.3s;
  
}

.store{
    display: inline-block;
    background-color:  skyblue;
    box-shadow: 0 0 3px 3px cyan;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 10px;
    transition: background-color 0.3s;
  
}

.main{
    display: inline-block;
    background-color: darkred;
    box-shadow: yellow;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 10px;
    transition: background-color 0.3s;
  
}

.wap{
  color: greenyellow;
}

.ytb{
  color: red;
}

.halo{
  color: cyan;
}

.singa{
  color: yellow;
}

.spaceman{
  color: darkgray;
}

.str{
  color: white;
}

.mt{
  color: red;
}