body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('https://telegra.ph/file/e40b2226f3a014ad44f0a.png');
    background-size: cover; /* Untuk memastikan gambar terisi seluruh background */
    background-position: center; /* Posisi gambar di tengah-tengah */
    height: 100vh; /* Tinggi elemen sesuai dengan tinggi layar */
}

.container {
    text-align: center;
    background-color: blueviolet;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

